<h1>Listando subfamílias</h1>

<% if @subfamilias.size.zero? %>
  <br />
  <p> Nenhuma subfamília cadastrada.</p>
<% else %>

  <table>
  <tr>
    <th>Família</th>
    <th>Subfamília</th>
  </tr>

<% @subfamilias.each do |subfamilia| %>
  <tr>
    <td><%=h subfamilia.familia.nome %></td>
    <td><%=h subfamilia.nome %></td>
    <td><%= link_to 'Ver', subfamilia %></td>
    <td><%= link_to 'Editar', edit_subfamilia_path(subfamilia) %></td>
    <td><%= link_to 'Excluir', subfamilia, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>
<br />

<%= link_to 'Criar subfamília', new_subfamilia_path %>
