<h1>Nova subfamília</h1>

<% form_for(@subfamilia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :familia_id %><br />
    <%= @familias = Familia.find(:all, :order => "nome" )
        f.collection_select(:familia_id, @familias, :id, :nome)%>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', subfamilias_path %>
