<h1>Filtrar por Característica</h1>

<div id="content">

  <%if @caracteristicas.size.zero?%>
    <br/>
    <p>Nenhuma característica cadastrada.</p>

  <%else%>
    <table width="100%" >
      <tr>
        <td style="vertical-align: top">
          <%= form_tag %>

            <% @caracteristicas.each do |caracteristica| %>

              <%= fields_for "caracteristica[]", caracteristica do |f| %>
                <b><%=h caracteristica.nome %></b><br />
                <% alternativa = caracteristica.alternativas.find(:all, :conditions => ["id IN (?)", @alternativas_escolhidas])  %>
                <% alternativa.first.nil? ? selecionada = '' : selecionada = alternativa.first.id %>
                <%= f.collection_select :id, caracteristica.alternativas, :id, :nome, :include_blank => 'Sem dados', :selected => selecionada %><br />
                <br />
              <% end %>

            <% end %>
          <div class="search_button">
            <%= image_submit_tag('search_button.gif', :alt => 'Filtrar') %> <br /><br />
            <span style="text-align: center"><%= button_to 'Limpar filtro', :controller => 'filtrar', :action => 'caracteristica'%></span>
          </div>
        </td>
        <td style="vertical-align: top; text-align: right">
          <h3>Espécies correspondentes</h3>
            <% @especies.each do |especie| %>
              <% especie.generos.first.nil? ? nome = especie['nome'] : nome = especie.generos.first.nome + " " + especie['nome'] %>
              <%= link_to nome, :controller => 'verespecie', :action => 'show', :id => especie['id']%><br />
            <% end unless @especies.nil? %>
          <br />
          <br />
          <h3>Espécies não correspondentes</h3>
            <% @naoespecies.each do |naoespecie| %>
              <% naoespecie.generos.first.nil? ? nome = naoespecie['nome'] : nome = naoespecie.generos.first.nome + " " + naoespecie['nome'] %>
              <%= link_to nome, :controller => 'verespecie', :action => 'show', :id => naoespecie['id']%> <br />
            <% end unless @naoespecies.nil? %>
        </td>
      </tr>
    </table>
    <% end %>
    
  <p><%= link_to 'Voltar', '/buscar' -%></p>

</div>
