<% content_for :head do %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=pt">
</script>
<script type="text/javascript">

  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  address = 'Guarulhos'
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  

}

  function codeAddress(address) {

    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });


  }
</script>
<% end %>
<%= content_for :body_attributes, "onload='initialize();'" %>
<div id="title">
  <h1>Espécie <%= @especie.generos.first.nome unless @especie.generos.first.nil? %> <%=  @especie.nome %></h1>
</div>

<div id="content">
<p>
  <b>Nome:</b>
  <%=h @especie.generos.first.nome unless @especie.generos.first.nil? %> <%=h @especie.nome %>
</p>
<p>
  <b>Descrição:</b><br/>
  <%=h @especie.bibliografia %>
</p>
<p>
  <b>Gênero:</b>
  <%= @especie.generos.first.nil? ? "Não definido" : @especie.generos.first.nome %>
</p>
<p>
  <b>Municípios onde a espécie é encontrada: </b>
  <% if @municipios.size.zero? %>
    <p> Nenhum.</p>
  <%else%>
    <%for municipios in @municipios%>
        <li>
          <%= municipios.nome %>
          <%= javascript_tag :defer => 'defer' do -%>
            codeAddress('Passos/MG')
          <% end -%>
        </li>
    <%end%>
  <%end%>
</p>
<p>
  <b>Imagens: </b>
  <% if @especie_imagens.size.zero? %>
    <p> Nenhuma imagem cadastrada.</p>
  <% else %>
    <%for especie_imagem in @especie_imagens%>
        <li>
          <%= especie_imagem.legenda %><br/>
          <a href="<%= url_for(:controller => 'verespecie', :action => 'imagem', :id => especie_imagem.id) %>"><img src="<%= url_for(:controller => 'verespecie', :action => 'imagem', :id => especie_imagem.id) %>" alt="<%=especie_imagem.nome%>"  width="150px"/></a>
        </li>
    <% end %>
  <% end %>
</p>
<p>
  <b>Artigos onde a espécie é citada: </b>
  <% if @artigos.size.zero? %>
    <p> Nenhum.</p>
  <%else%>
    <%for artigos in @artigos%>
      <li>
         <%= link_to artigos.nome, artigos.link, :target => "_blank" %>
      </li>
    <%end%>
  <%end%>
</p>

<br/>

<%= link_to 'Voltar', :back %>

</div>