<h1>Espécie <%= @especie.nome %> </h1>

<b>Municípios onde a espécie é encontrada:</b>
<table>
<% for municipio in @municipios%>
  <tr>
    <td><%=h municipio.nome %></td>
    <td><%= link_to 'Excluir', :controller => 'especies_municipios', :confirm => 'Você tem certeza?', :action => :destroy, :especie_id => @especie.id, :municipio_id => municipio.id %></td>
  </tr>
<% end %>
</table>

<p><b>Adicionar município à lista:</b><br />
<%= form_tag :action => 'create', :especie_id => params[:id] %>
   <%=@municipios = Municipio.find(:all, :order => "nome")
      collection_select(:municipio_id, :id, @municipios, :id, :nome, :prompt => "Escolha um município")%>

   <%= submit_tag 'Adicionar'%>

</p>

<%= link_to 'Voltar', edit_especie_path(@especie) %>