<h1>Listando gêneros</h1>

<% if @generos.size.zero? %>
  <br />
  <p> Nenhum gênero cadastrado.</p>
<% else %>
<table>
  <tr>
    <th>Família</th>
    <th>Subfamília</th>
    <th>Gênero</th>
  </tr>

<% @generos.each do |genero| %>
  <tr>
    <td><%=h genero[0] %></td>
    <td><%=h genero[1] %></td>
    <td><%=h genero[2] %></td>
    <td><%= link_to 'Ver', 'generos/'+genero[3].to_s %></td>
    <td><%= link_to 'Editar', edit_genero_path(genero) %></td>
    <td><%= link_to 'Excluir', 'generos/'+genero[3].to_s, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>
  
<br />

<%= link_to 'Criar gênero', new_genero_path %>
