<h1>Novo gênero</h1>

<%= form_for(@genero) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :subfamilia_id %><br />
    <%= @subfamilias = Subfamilia.find(:all, :order => "nome" )
        f.collection_select(:subfamilia_id, @subfamilias, :id, :nome)%>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', generos_path %>
