<p>
  <b>Nome:</b>
  <%=h @genero.nome %>
</p>

<p>
  <b>Subfamília:</b>
  <%=h @subfamilia.nome %>
</p>

<p>
  <b>Família:</b>
  <%=h @familia.nome %>
</p>


<%= link_to 'Editar', edit_genero_path(@genero) %> |
<%= link_to 'Voltar', generos_path %>
