<p>
  <b>Nome:</b>
  <%=h @municipio.nome %>
</p>

<p>
  <b>Estado:</b>
  <%=h @municipio.estado.nome %>
</p>

<p>
  <b>País:</b>
  <%=h @municipio.estado.pais.nome %>
</p>


<%= link_to 'Editar', edit_municipio_path(@municipio) %> |
<%= link_to 'Voltar', municipios_path %>