<h1>Listando artigos</h1>

<% if @artigos.size.zero? %>
  <br />
  <p> Nenhum artigo cadastrado.</p>
<% else %>
<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @artigos.each do |artigo| %>
  <tr>
    <td><%= link_to artigo.nome, artigo.link, :target => '_blank' %></td>
    <td><%= link_to 'Ver', artigo %></td>
    <td><%= link_to 'Editar', edit_artigo_path(artigo) %></td>
    <td><%= link_to 'Excluir', artigo, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>
  
<br />

<%= link_to 'Criar artigo', new_artigo_path %>
