<h1>Espécie <%= @especie.nome %> </h1>

<b>Características:</b>



  <% @caracteristicas.each do |caracteristica| %>
  <p>
    <% form_tag(:action => 'update_all', :method => :put, :especie_id => @especie.id, :caracteristica_id => caracteristica.id) do -%>
      <b><%=h caracteristica.nome %>: </b><br/>
      <% caracteristica.alternativas.each do |alternativa| %>
      <%   if @especie.alternativas.exists?(alternativa.id) %>
      <%=     alternativa.nome %>
      <%   end %>
      <% end %>
      <br/>
      <%= collection_select(@alternativa_id, :alternativa_id, caracteristica.alternativas.all , :id, :nome,  :prompt => "Selecione para alterar" ) %>
    <%= submit_tag "Atualizar" %>
    <%end -%>
  </p>
  <% end %>
  
  <br/>

  <%= link_to 'Voltar', edit_especie_path(@especie) %>