<h1>Espécie <%= @especie.nome %> </h1>

<b>Características:</b>



  <% @caracteristicas.each do |caracteristica| %>
  <p>
    <%= form_tag :action => 'update_all', :method => :put, :especie_id => @especie.id, :caracteristica_id => caracteristica.id do %>
      <b><%=h caracteristica.nome %>: </b>
      <% caracteristica.alternativas.each do |alternativa| %>
      <%   @alternativa_nome = alternativa.nome if @especie.alternativas.exists?(alternativa.id) %>
      <% end %>
      <%=  @alternativa_nome.nil? ? "Sem dados" : @alternativa_nome %>
      <%   @alternativa_nome = nil %>
      <br/>
      <%= collection_select(@alternativa_id, :alternativa_id, caracteristica.alternativas.all , :id, :nome, :prompt => "Sem dados" ) %>
    <%= submit_tag "Alterar" %>
    <%end %>
  </p>
  <% end %>
  
  <br/>

  <%= link_to 'Voltar', edit_especie_path(@especie) %>