<%= form_for(@membro) do |f| %>
  <% if @membro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membro.errors.count, "error") %> prohibited this membro from being saved:</h2>

      <ul>
      <% @membro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao, :cols => 90, :rows => 15  %>
  </div>
  <br/>
  <div class="field">
      Escolha a imagem: <%= f.file_field("imagem_enviada") %><br/>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
