<h1>Editando usuário</h1>

<%= form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @usuario %> |
<%= link_to 'Voltar', usuarios_path %>
