<h1>Criar usuário</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label 'Senha' %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label 'Confirmação de senha'%><br />
    <%= f.text_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', usuarios_path %>
