<h1>Listando famílias</h1>

<% if @familias.size.zero? %>
  <br />
  <p> Nenhuma família cadastrada.</p>
<% else %>
<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @familias.each do |familia| %>
  <tr>
    <td><%=h familia.nome %></td>
    <td><%= link_to 'Ver', familia %></td>
    <td><%= link_to 'Editar', edit_familia_path(familia) %></td>
    <td><%= link_to 'Excluir', familia, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>
<br />

<%= link_to 'Criar família', new_familia_path %>
