<h1>Editando Alternativa</h1>

<%= form_for(@alternativa) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :caracteristica_id %><br />
    <% @caracteristicas = Caracteristica.find(:all, :order => "nome")%>
    <%= f.collection_select(:caracteristica_id, @caracteristicas, :id, :nome) %>
  </p>
  <p>
  Imagem: <br/>
  <% unless @alternativa.imagem.nil? %>
    <a href="<%= url_for(:action => 'imagem', :id => @alternativa.id) %>">
      <img src="<%= url_for(:action => 'imagem', :id => @alternativa.id) %>" alt="<%@alternativa.nome_imagem%>" width="150px"/>
    </a>
  <%end%>
  </p>
  <p>
    Eviar nova imagem: <%= f.file_field("imagem_enviada") %><br/>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br/>
<% end %>

<%= link_to 'Ver', @alternativa %> |
<%= link_to 'Voltar', alternativas_path %>
