<h1>Listando Alternativa</h1>

<% if @alternativas.size.zero? %>
  <br />
  <p> Nenhuma alternativa cadastrada.</p>
<% else %>
<table>
  <tr>
    <th>Caracteristica</th>
    <th>Alternativa</th>
  </tr>

<% @alternativas.each do |alternativa| %>
  <tr>
    <td><%=h alternativa.caracteristica.nome %></td>
    <td><%=h alternativa.nome %></td>
    <td><%= link_to 'Ver', alternativa %></td>
    <td><%= link_to 'Editar', edit_alternativa_path(alternativa) %></td>
    <td><%= button_to 'Excluir', alternativa, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>

  <br />

<%= link_to 'Criar Alternativa', new_alternativa_path %>
