<h1>Editando imagem da espécie '<%= @especie_imagem.especie.generos.first.nome unless @especie_imagem.especie.generos.first.nil? %> <%=h @especie_imagem.especie.nome%>'</h1>
<%= form_for(@especie_imagem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :legenda %><br />
    <%= f.text_field :legenda %>
  </p>
  <p>
    <a href="<%= url_for(:action => 'imagem', :id => @especie_imagem.id) %>"><img src="<%= url_for(:action => 'imagem', :id => @especie_imagem.id) %>" alt="<%=:nome%>" width="150px"/></a>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @especie_imagem %> |
<%= link_to 'Voltar', :controller => 'especie_imagens', :especie_id => @especie_imagem.especie.id %>
