<h1>Criar imagem de espécie</h1>

<%= error_messages_for("especie_imagem" ) %>

<% form_for(:especie_imagem,
          :url => {:action => 'create'},
          :html => { :multipart => true }) do |f| %>

  Legenda             <%= f.text_field("legenda") %><br/>
  Escolha a imagem: <%= f.file_field("imagem_enviada") %><br/>
  <%= f.hidden_field(:especie_id, :value => params[:especie_id])%><br/>
  <%= submit_tag("Enviar arquivo") %>
<% end %>

<%= link_to 'Voltar', especie_magens_path %>
