<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Planárias Terrestres</title>
  <%= stylesheet_link_tag "standard", :media => "all" %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<div id="page">
  <div id="banner">

    <%= @page_title || "Planárias Terrestres Neotropicais" %>
  </div>
  <div id="columns">
    <% if session[:usuario_id] %>
    <div id="links">
      <ul>
        <li>
          <h2><%= link_to 'Admin',   :controller => 'admin' %></h2>
          <ul>
            <li><%= link_to 'Espécies',   :controller => 'especies' %></li>
            <br/>
            <li><%= link_to 'Caracteristicas', :controller => 'caracteristicas' %></li>
            <li><%= link_to 'Alternativas', :controller => 'alternativas' %></li>
            <br/>
            <li><%= link_to 'Países',    :controller => 'paises'    %></li>
            <li><%= link_to 'Estados',    :controller => 'estados'    %></li>
            <li><%= link_to 'Municípios',    :controller => 'municipios'    %></li>
            <br/>
            <li><%= link_to 'Artigos',    :controller => 'artigos'    %></li>
            <br/>
            <li><%= link_to 'Famílias',    :controller => 'familias'    %></li>
            <li><%= link_to 'Subfamílias',    :controller => 'subfamilias'    %></li>
            <li><%= link_to 'Gêneros',    :controller => 'generos'    %></li>
            <br/>
            <li><%= link_to 'Equipe',    :controller => 'membros'    %></li>
            <br/>
            <li> </li>
            <li><%= link_to 'Usuários',    :controller => 'usuarios'    %></li>
          </ul>
        </li>
        <br/>
      </ul>
      <%= link_to 'Sair',    :controller => 'admin', :action => 'logout'    %>
    </div>
    <% end %>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </div>
  <div id="footer">
    <p>Direitos reservados a Fernando Carbayo - Desenvolvido por: Henrique Lemos Ribeiro</p>
  </div>
</div>
</body>
</html>
