<h1>Listando características</h1>

<% if @caracteristicas.size.zero? %>
  <br />
  <p> Nenhuma característica cadastrada.</p>
<% else %>
<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @caracteristicas.each do |caracteristica| %>
  <tr>
    <td><%=h caracteristica.nome %></td>
    <td><%= link_to 'Ver', caracteristica %></td>
    <td><%= link_to 'Editar', edit_caracteristica_path(caracteristica) %></td>
    <td><%= link_to 'Excluir', caracteristica, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>
<br />

<%= link_to 'Criar caracteristica', new_caracteristica_path %>
