<h1>Listing caracteristicas</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @caracteristicas.each do |caracteristica| %>
  <tr>
    <td><%=h caracteristica.nome %></td>
    <td><%= link_to 'Ver', caracteristica %></td>
    <td><%= link_to 'Editar', edit_caracteristica_path(caracteristica) %></td>
    <td><%= link_to 'Excluir', caracteristica, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar caracteristica', new_caracteristica_path %>
